@model IEnumerable<Lab5_ED1.Models.Developer>

@{
    ViewBag.Title = "Developers";
}

<h2>Developers</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User)
        </td>
        <td>
            @Html.ActionLink("Review Tasks", "Edit", new { id=item.User }) |
        </td>
    </tr>
}

</table>
