@model Lab5_ED1.Models.Developer

@{
    ViewBag.Title = "Profile";
}

<h2>DeveloperProfile</h2>

<h3><strong>@Html.DisplayFor(model=>model.User)</strong></h3>

<p>You have @Html.DisplayFor(model=>model.Tasks.NodeQty) pending tasks</p>

<h4><strong>Your current task information</strong></h4>

