
@{
    ViewBag.Title = "Exit";
}

@{
    Layout = "~/Views/Shared/PrevLayout.cshtml";
}

<body>
    <script type="text/javascript">
        window.close();
    </script>
</body>

@*Obtenido de https://stackoverflow.com/questions/853738/how-do-you-close-an-asp-net-mvc-page-from-the-controller*@