
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Tasks", FormMethod.Post))
{
    @Html.TextBox("User")
    <input type="submit"
           name="submit"
           value="Search" />

    <div>
        Manager @Html.RadioButton("Position", "manager")
    </div>
}

